.fg-field-wrapper {
    margin: 0 -15px;
}

.fg-field-fill {
    display: inline-flex;
    width: 100%;

    .bp3-popover-target {
        width: 100%;
    }
}

.fg-field {
    &.bp3-form-group {
        display: inline-flex;
        padding: 0 15px;
    }

    @for $i from 1 through 100 {
        &.width-#{$i} {
            width: percentage($i/100);
        }
    }

    &.radio-field {
        // display: inline-flex;
        padding: 0 15px;
        position: relative;
        flex-direction: column;

        .b3-label {
            display: flex;
            flex-basis: 100%;
        }
    }

    .validation-message {
        color: #a70000;
    }
}
