$color-error: #bd0000;
$color-default: #757575;

.form-field {
    display: inline-block;
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;

    &.number-field,
    &.input-field {
        .value-label {
            position: absolute;
            top: 1px;
            left: 21px;
            padding: 0 4px;
            font-size: 11px;
            color: $color-default;
            background-color: #ffffff;
            text-transform: capitalize;
        }

        .has-errors {
            input {
                box-shadow: 0px 0px 0px 1px $color-error;
                border-color: transparent;
            }
        }
    }

    .validation-indicator {
        position: absolute;
        top: 14px;
        right: 24px;
        width: 17px;
        color: $color-default;
    }

    .form-control:focus {
        outline: none;
        box-shadow: none;
        border-color: #ced4da;
    }

    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active,
    textarea:-webkit-autofill,
    textarea:-webkit-autofill:hover,
    textarea:-webkit-autofill:focus,
    textarea:-webkit-autofill:active,
    select:-webkit-autofill,
    select:-webkit-autofill:hover,
    select:-webkit-autofill:focus,
    select:-webkit-autofill:active {
        -webkit-text-fill-color: unset;
        -webkit-box-shadow: 0 0 0px 0px transparent inset;
    }
}
