@import './utilities.scss';
@import '~normalize.css';
@import '~@blueprintjs/core/lib/css/blueprint.css';
@import '~@blueprintjs/icons/lib/css/blueprint-icons.css';
@import '~@blueprintjs/datetime/lib/css/blueprint-datetime.css';
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap');

html,
body {
    min-width: 100vw;
    min-height: 100vh;
    padding: 0;
    margin: 0;
    font-size: 14px;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

.form-generator {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;

    .header {
        display: flex;
        line-height: 30px;
        padding: 15px;
        flex-grow: 0;
    }
    .stage {
        display: flex;
        flex-grow: 1;
    }

    .fg-navbar {
        box-shadow: 0 0 0 1px rgba(16, 22, 26, 0.15), 0 0 0 rgba(16, 22, 26, 0), 0 0 0 rgba(16, 22, 26, 0);
    }
}
