@import './utilities.scss';

html,
body {
    min-width: 100vw;
    min-height: 100vh;
    padding: 0;
    margin: 0;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

.form-generator {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;

    .header {
        display: flex;
        line-height: 30px;
        padding: 15px;
        flex-grow: 0;
    }
    .stage {
        display: flex;
        flex-grow: 1;
    }
}

.button-grey {
    padding: 10px;
    border-radius: 0.25rem;
    border: 1px solid #dfdfdf;
    background-color: #ffffff;
    overflow: hidden;

    span {
        vertical-align: text-top;
        line-height: 19px;
    }
    svg {
        color: #999999;
        width: 1rem;
        height: 1rem;
        margin-right: 5px;
    }

    &:hover {
        box-shadow: inset 1px 1px 0px #dfdfdf;
        background-color: #fafafa;
        color: #666666;
    }

    &:active,
    &:focus {
        outline: none;
        box-shadow: none;
    }
    &:active {
        box-shadow: inset 1px 1px 0px #dfdfdf;
    }
}
